body,
html {
  width: 100%;
  height: 100%;
}

.parent-div {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center; 
}

.float-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

/* Media query to distinguish between mobile and computer */
@media screen and (max-width: 1000px) {
  .parent-div {
    align-items: normal;
  }

  .float-container {
    flex-direction: column;
  }

  .float-child-left {
    margin: 2vh auto;
  }  
  
  .float-child-right {
    margin: 2vh auto;
  }
}
@media screen and (min-width: 1001px) {
  .float-child-left {
    width: 25%;
    flex: 1;
    margin-right: 15px;
  }  
  
  .float-child-right {
    width: 75%;
    flex: 1;
  }
}